.container-service{
    position: relative;
    padding: 8rem 6rem;
    padding-right: 0;

    @media only screen and (max-width: 769px){
        padding: 8rem 3rem;
    }

    @media only screen and (max-width: 455px){
        padding: 4rem 1rem;
    }

    .services_svg {
        position: absolute;
        background-image: url("../../images/services.svg");
        background-repeat: no-repeat;
        width: 80vw;
        height: 200px;
        top: 5;
        left:0;
        z-index: -1;
        opacity: 0.2;
    }

    .heading {
        display: flex;
        align-items: center;
        padding: 0 5rem;

        @media only screen and (max-width: 769px){
            padding: 0;
        }

        h2 {
            font-size: 10vw;
            font-weight: 600;
            text-transform: uppercase;

            @media only screen and (max-width: 455px){
                font-size: 18vw;
                
            }
        }
    }

    .wrapper {
            padding: 2rem 5rem;
            padding-right: 1rem;
            transition: 2s all ease;


            @media only screen and (max-width: 1250px){
                padding: 2rem 8rem;
                padding-right: 1rem;
            }

            @media only screen and (max-width: 769px){
                padding: 2rem 0;
            }

        .wrapper-content {
           display: flex;
           justify-content: center;
           margin-top: 10rem;
           transition: 2s all ease;

           @media only screen and (max-width: 1001px){
            padding: 0;
            flex-direction: column-reverse;
         }

           @media only screen and (max-width: 769px){
            padding: 0;
            flex-direction: column-reverse;
            }

           &.reverse {
               flex-direction: row-reverse;

               @media only screen and (max-width: 1001px){
                padding: 0;
                justify-content: center;
                flex-direction: column-reverse;
                }
           }

           &.first {
               margin-top: 3rem;
           }


           .left {
               flex: 1;
               flex-direction: column;
                width: 100%;
                transition: 2s all ease;

                @media only screen and (max-width: 769px){
                    width: 100%;
                 }
                
               .title {
                color: #ed7d31;
                font-size: 1.8rem;
                font-weight: 600;
               }

               .description {
                   font-size: 1rem;
                   width: 100%;

                   @media only screen and (max-width: 594px){
                    width: 100%;
                    }

                    p {
                        transition: 2s all ease;
                        width: 30vw;

                        @media only screen and (max-width: 1001px){
                            width: 100%;
                        }

                        &.visible {
                            display: block;
                            margin-top: 10px;

                        }


                        &.hidden {
                            display: none;
                        }
                        
                    }
        
               }

               .btn-readmore {
                   margin-top: 1rem;
                   border-radius: 15px;
                   background-color: black;
                   height: 50px;
                   width: 100px;
                   color: white;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   cursor: pointer;
               }
           }

           .right {
               flex: 3;
               width: 100%;
                display: flex;
                transition: 2s all ease;

               @media only screen and (max-width: 769px){
                    margin-bottom: 1rem;
                }

                .img-wrapper {
                    width: 100%;
                    margin: 0 0.5rem;
                    transition: 1s all ease;

                    @media only screen and (max-width: 1001px){
                        margin: 0 .2rem;
                     }

                    img {
                        width: 100%;

                        
                        &.img-fluid {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }

                }
           }
           
       }
   }
}