.container-service{
    position: relative;
    padding: 8rem 6rem;
    padding-bottom: 1rem;
    padding-right: 0;
    overflow: hidden;

    @media only screen and (max-width: 769px){
        padding: 2rem 3rem;
    }

    @media only screen and (max-width: 455px){
        padding: 2rem 1rem;
    }

    .services_svg {
        position: absolute;
        background-image: url("../../images/services.svg");
        background-repeat: no-repeat;
        width: 50vw;
        height: 200px;
        top: 5;
        left:0;
        z-index: -1;
        opacity: 0.2;
    }

    .heading {
        display: flex;
        align-items: center;
        padding: 0 5rem;

        @media only screen and (max-width: 769px){
            padding: 0;
        }

        h2 {
            font-size: 5vw;
            font-weight: 600;
            text-transform: uppercase;

            @media only screen and (max-width: 455px){
                font-size: 10vw;
                
            }
        }
    }

    .wrapper {
            padding: 2rem 5rem;
            padding-right: 1rem;
            transition: 2s all ease;


            @media only screen and (max-width: 1250px){
                padding: 2rem 8rem;
                padding-right: 1rem;
            }

            @media only screen and (max-width: 769px){
                padding: 2rem 0;
            }

        
   }
}