.container-about{
    position: relative;
    padding: 0rem 6rem;
    padding-bottom: 1rem;
    overflow: hidden;

    @media only screen and (max-width: 1001px){
        padding: 2rem 2.5rem;
    }

    @media only screen and (max-width: 455px){
        padding: 0rem 1rem;
    }

    .about_svg {
        position: absolute;
        background-image: url("../../images/about.svg");
        background-repeat: no-repeat;
        width: 37vw;
        height: 200px;
        top: 5;
        left:62.385%;
        z-index: -1;
        opacity: 0.2;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 5rem;

        @media only screen and (max-width: 769px){
            padding: 0;
        }

        h2 {
            font-size: 5vw;
            font-weight: 600;
            text-transform: uppercase;

            @media only screen and (max-width: 455px){
                font-size: 10vw;
                
            }
        }
    }

    .about-wrapper {
        display: flex;
        padding-top: 4rem;
        align-items: center;
        width: 100%;


        @media only screen and (max-width: 1270px){
            flex-direction: column;
            align-items: flex-start;
        }

            .about-text {
                padding: 0 2rem;
                padding-bottom: 1rem;

                font-size: 1.3rem;
                font-weight: 400;

                @media only screen and (max-width: 1270px){
                    padding: 0 .5rem;
                }

                .about-text-title {
                    padding-bottom: 1rem;
                    margin-top: 2rem;
                    font-size: 2vw;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;

                    @media only screen and (max-width: 1270px){
                        font-size: 4vw;
                    }

                    @media only screen and (max-width: 877px){
                        font-size: 6vw;
                    }

                    span {
                        text-align: center;
                       img {
                        width: 120px;
                    } 
                    }
                    
                }
            }
    

            .img-wrapper {
               display: grid;
               place-content: center;
               margin: 2rem 0;
               img {
                   width: 100%;
                   height: auto;
                   object-fit: cover;
               }
            }


    }

    .about-content {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.3rem;

        @media only screen and (max-width: 965px){
            display: block;
        }
    }

    
}

.coloured {
    color: #ed7d31;
}

